.ajax-contact-form .special-field{
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 1px;
}

.ajax-contact-form .field {
    margin-bottom: 20px;
}

.ajax-contact-form .field label {
    display: inline-block;
    font-weight: 700;
    width: 24%;
    vertical-align: top;
}

.ajax-contact-form .field .field-input {
    display: inline-block;
    width: 75%;
}

.ajax-contact-form .field .field-input .input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    font-size: 14px;
    color: #444;
}

.ajax-contact-form .field .field-input textarea.input {
    height: 100px;
    line-height: 25px;
}

.ajax-contact-form .field .field-input .input-error {
    color: #D8000C;
    background-color: #FFBABA;
    display: inline-block;
    padding: 5px 10px;
}    

.ajax-contact-form .field.submit {
    text-align: right;
}

.ajax-contact-form .field.submit .field-input {
    text-align: left;
}

.ajax-contact-form .field.submit button {
    background: #2879E6;
    padding: 15px 50px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid;
    outline: 1px;
}

.ajax-contact-message {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
}
.ajax-contact-message.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.ajax-contact-message.error {
    color: #D8000C;
    background-color: #FFBABA;
}

/**
 * Mobile screens
 * 
 */
@media screen and (min-width:300px) and (max-width:768px) and (orientation:portrait) {

    .ajax-contact-form .field label,
    .ajax-contact-form .field .field-input,
    .ajax-contact-form .field.submit button {
        display: block;
        width: 100%;
    }

    .ajax-contact-form .field label {
        margin-bottom: 10px;
    }
}